/*.footer-container {
  background-color: #132644;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-container p {
  margin: 0;
}

.footer-container .social-icons {
  margin-top: 10px;
}

.footer-container .social-icons a {
  color: white;
  margin-right: 10px;
}
*/