.sidebar {
  background-color: #132644;
  color: white;
}

.list-group-item {
  background-color: #132644;
  border: none;
}

.list-group-item a {
  color: white;
}

.content {
  padding: 20px;
}

.card {
  margin-top: 20px;
}
