body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Disable scrolling */
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #132644;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin: 0;
}

.header .logo img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.content {
  flex: 1;
  display: flex;
  overflow: hidden; /* Hide overflow for the content area */
}

.sidebar {
  background-color: #132644;
  color: white;
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar .list-group {
  flex: 1;
}

.main {
  flex: 1;
  padding: 0; /* Remove padding to fill the entire space */
  overflow: hidden; /* Hide overflow for the map area */
}

.map-container {
  height: 100%;
}
